.shrink {
  overflow: hidden;
  /* animation: shrink 0.5s ease forwards; */
  transition:
    height 0.3s 0.2s ease-out,
    margin 0.3s 0.2s ease-out;
  height: 0 !important;
  margin: 0 !important;
}

@keyframes shrink {
  100% {
  }
}

.fadeOut {
  animation: fade-out 0.2s ease-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
